<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd">

	<!-- 包扫描器，扫描带@Service注解的类 context:component-scan：就开启注解，就可以autowire了，不用扫描到component包中 -->
	<context:component-scan base-package="com.taotao.sso.service"></context:component-scan>
	<!-- 单机版和集群版必须注释掉一个，不能共存 -->
	<!-- 配置redis客户端单机版 -->
	<!-- 配置 jedisPool -->
	<bean id="jedisPool" class="redis.clients.jedis.JedisPool">
		<constructor-arg name="host" value="192.168.233.133"></constructor-arg>
		<constructor-arg name="port" value="6379"></constructor-arg>
	</bean>
	<!-- 配置redis客户端实现类 -->
	<bean id="jedisClientSingle" class="com.taotao.sso.component.impl.JedisClientSingle" />
	
	<!-- 配置redis客户端集群版 <bean id="jedisCluster" class="redis.clients.jedis.JedisCluster"> 
		<constructor-arg> <set> <bean class="redis.clients.jedis.HostAndPort"> <constructor-arg 
		name="host" value="192.168.233.133" /> <constructor-arg name="port" value="7001" 
		/> </bean> <bean class="redis.clients.jedis.HostAndPort"> <constructor-arg 
		name="host" value="192.168.233.133" /> <constructor-arg name="port" value="7002" 
		/> </bean> <bean class="redis.clients.jedis.HostAndPort"> <constructor-arg 
		name="host" value="192.168.233.133" /> <constructor-arg name="port" value="7003" 
		/> </bean> <bean class="redis.clients.jedis.HostAndPort"> <constructor-arg 
		name="host" value="192.168.233.133" /> <constructor-arg name="port" value="7004" 
		/> </bean> <bean class="redis.clients.jedis.HostAndPort"> <constructor-arg 
		name="host" value="192.168.233.133" /> <constructor-arg name="port" value="7005" 
		/> </bean> <bean class="redis.clients.jedis.HostAndPort"> <constructor-arg 
		name="host" value="192.168.25.153" /> <constructor-arg name="port" value="7006" 
		/> </bean> </set> </constructor-arg> </bean> -->
		<!-- 配置redis集群客户端实现类 -->
		<!-- 
		<bean id="jedisClientCluster" class="com.taotao.sso.component.impl.JedisClientCluster" />
		 -->
	
</beans>
